<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      .container {
      background-color: #f2f2f2;
      padding: 20px;
      width:25%;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <img src=".\static\img\Thanks.jpg" alt="" width="50" height="50" style='display: block;margin-left: auto;margin-right: auto;'>
      <h3 style="text-align:center;">Thank you for registering </h3>
    <div>
  </body>
</html>
